/*
fbe8a6 - main background
f4976c - secondary background and selected elements
303c6c - text and borders
b4dfe5 - cyan
d2fdff - light cyan

*/
#brand-icon {
    font-size: 5em;
}

header, main, .col-4 {
    background-color: #f4976c;
}

.col-8 {
    background-color: #f4976c;
}

footer {
    background-color: #303c6c;
}

.card {
    background-color: #fbe8a6;
    color: #303c6c;
}

.card, .card-body {
    border-style: none;
}

.card-body {
    background-color: #fbe8a6;
}

.card-header {
    border-width: .2em;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #303c6c;
}

#overlay {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px 10px;
}

.card-header {
    background-color: #f4976c;
}
